/*====================================
*     Site-General            *
====================================*/
body{
	font-family:Poppins,Arial,sans-serif;
}
h1{
	color:#374048;
	font-size: 4.9rem;
	font-weight: 600;
}
h2{
	color:#374048;
	font-size: 3rem;
	font-weight: 600;
}
h3{
	color:#374048;
	font-size: 2.2rem;
	font-weight: 600;
}
h4{
	color:#374048;
	font-size: 1.3rem;
	font-weight: 500;
}
h5{
	color:#374048;
	font-size: 1.6rem;
	font-weight: 600;
}

.hr-sub{

}

.backround-grey{
	background-color:#e9eaec;

}

.sub-header{
	color:#969da3;
	font-size: 1.3rem;
	font-weight: 300;
}

p{
	color: #c0cad0;
	font-size:1.1rem;
	font-weight: 300;

}

.btn-round{
	border-radius: 66px;
}
/*=====  End of Site-General  ======*/

/*===========================
*            Nav            *
===========================*/
header{
	background:#eaebf0;
}


/*=====  End of Nav  ======*/

/*==================================
*            Top Banner            *
==================================*/

#top-jumbo{
	width:100%;
	text-align: center;
	background:url('../images/header-background.jpg') center center no-repeat;
	background-size: cover;
}

#top-jumbo .jumbotron{
	background-color: transparent;
}

#top-jumbo img{
	display: block;
}

#top-jumbo .btn-round{
	background:#3f97ff;
}

.navbar-light .navbar-nav .nav-link:last-child{
	background:#ff6622;
	color:#FFFFFF;
}


/*=====  End of Top Banner  ======*/

/*=========================================
*            Product InfoGraph            *
=========================================*/

#info-graph{
	width:100%;
	text-align: center;
}

.info-button {
    background: #0084ff;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    padding-top: 4px;
    color:#FFFFFF;
}
.container #top-left{   
	position: relative;
	bottom:333px;
	     
}
.container #top-right{
 	position: relative;
 	bottom: 460px;

}

.container #bottom-left{
	position: relative;
	bottom: 150px;
}    

.container #bottom-right{
	position: relative;
	bottom: 200px;
}

#top-left .info-button{
	    position: absolute;
	    left: 32%;
}

#top-right .info-button{
	position: absolute;
    left: 63%;
}

#bottom-left .info-button{
	    position: absolute;
	    left: 32.2%;
}

#bottom-right .info-button{
	position: absolute;
    left: 55%;
}


/*=====  End of Product InfoGraph  ======*/


/*====================================
*            How-It-Works            *
====================================*/
#how-it-works{
	text-align: center;
}
#how-it-works .card-header{
	font-size: 5rem;
	background:#e9eaec; 
	border: 0;
}
#how-it-works .card{
	background:#e9eaec;
	border: 0; 
}


/*=====  End of How-It-Works  ======*/

/*====================================
*            The-Benefits            *
====================================*/
#the-benefits{
	text-align: center;
}

#the-benefits .container i{
	float: left;
	font-size:2rem;
	position: absolute;
	left: -18px;
    bottom: 55px;
    color: #0084ff;
}

.col-sm {

    padding-left: 50px;
    padding-right: 40px;
    text-align:left;

}

/*=====  End of The-Benefits  ======*/

/*================================
*            features            *
================================*/
#features{
	text-align: center;
}
.cards-left{
	display: flex;
	float: left;
	clear: both;
}


/*=====  End of features  ======*/

